.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
  background-color: #00b5ad;
}

.App {
  max-width: 50%;
  margin: auto;
}

.gutterBottom {
  margin-bottom: 2rem !important;
}

.gutterTop {
  margin-top: 2rem !important;
}

.center-message {
  background: white !important;
  text-align: center !important;
  height: 91vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.my-flash {
  animation: custom-blink 0.5s linear 0s infinite both;
}

@keyframes custom-blink {
  to {
    box-shadow: 0 1px 3px 0 #2185d0, 0 0 0 1px #2185d0;
  }
}
